.gp-entry-text button{border-radius:3px;}
.gp-entry-text .full-screen button{margin:1px 1px 1.7px;padding:4px 8px 5px;font-size:14px;}
.gp-entry-text .full-screen{background-color:#0b2b39;border:1px solid rgba(199, 21, 133, 0.2);min-height:29px;text-align:right;margin-bottom:0!important;padding:1px 1px 0;}
.gp-entry-text .plr{background-color:#0b2b39;border:1px solid rgba(199, 21, 133, 0.2);text-align:right;padding:2px 1px 0!important;line-height:10px!important;min-height:34px;}
.gp-entry-text .full-screen span{float:left;padding:2px 5px;}
.gp-entry-text .plr span{float:left;padding:6px 5px 5px;}
.gp-entry-text .plr audio{max-width:265px;max-height:32px;padding-bottom:1px;}
.gp-entry-text .cnch{margin-bottom:0;text-align:center;font-size:12px;font-weight:400;font-style:italic;}
.gp-container .wsp-container{border-top:2px solid #ddd;border-bottom:2px solid #ddd;}
.gp-container .wsp-container ul{margin-bottom:10px;}
.gp-container .wsp-container h2{margin:10px 0;}
.gp-container .wsp-container ul.wsp-posts-list{margin-bottom:0;}
.gp-container .wsp-container ul li{padding:3px 0;}
.gp-entry-text .follow-link .fl-link{color:#fb0000;font-size:13px;margin-bottom:5px;float:initial;}
.gp-entry-text .join-chat{margin-top:-10px;}
.gp-entry-text .wpb_text_column{margin-bottom:10px;}
.gp-entry-text .cumpar-on .wpb_wrapper{text-align:center;margin:10px;}
.m-chat iframe{width:100%;height:560px;}
.gp-entry-text .soc-button{background-color:#1d9984;background-image:linear-gradient(#4CAF50, #476882, #4CAF50);border:1px solid #546E7A;}
.gp-entry-text .soc-button a{color:#fef;font-size:14px;padding:2px 8px;font-weight:400;}
.gp-entry-text .join-alt-text h6{margin-top:10px;}
.join-alt-text h2,.join-alt-text h6{background-color:#2f887c;color:#fff;margin-top:10px;padding:4px 6px;}
.join-alt-text p{line-height:21px;color:#666;}
.join-text .wpb_text_column{margin-bottom:0;}
.full-showchat{margin:0;min-width:100%!important;}
.full-showchat p{border:none!important;margin:10px 0 0!important;padding:0!important;}
.fullscreen-showchat{width:100vw!important;height:82vh!important;border:1px solid #bbb;width:50%;height:88%;}
.resizable{position:fixed!important;left:0;width:100vw!important;height:100vh!important;top:0;z-index:999999!important;}
.exitFull{display:none;background-color:#0099FF;position:fixed;font-size:14px;z-index:999999;bottom:6px;right:40px;padding:6px 10px;}
.exitFull{display:none;background-color:#0099FF;position:fixed;font-size:14px;z-index:999999;bottom:5px;right:40px;padding:4px 10px;}
