<link rel="stylesheet" href="https://showchat.tk/cookie/cookiealert.css">

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Acest site foloseste cookie-uri </b> &#x1F36A; pentru a imbunatati experienta utilizatorilor. Continuarea navigarii pe site implica acceptarea. <a href="https://showchat.tk/politica-de-confidentialitate.html" target="_blank">/politica-de-confidentialitate</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        Sunt de acord
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

<script src="https://showchat.tk/cookie/cookiealert.js"></script>
