<footer>
	<p> By <a href="https://showchat.tk">ShowChat</a></p>
	
	 <div class="social-links"><ul class="social-media-list"><li><a href="https://github.com/show-chat" title="show-chat"><svg class="svg-icon grey"><use xlink:href="/showchat.tk/assets/minima-social-icons.svg#github"></use></svg></a></li><li><a href="https://twitter.com/showchat.ro" title="showchat.ro"><svg class="svg-icon grey"><use xlink:href="/showchat.tk/assets/minima-social-icons.svg#twitter"></use></svg></a></li><li><a href="/showchat.tk/feed.xml" title="rss"><svg class="svg-icon grey"><use xlink:href="/showchat.tk/assets/minima-social-icons.svg#rss"></use></svg></a></li></ul>
		 
		{%- include social.html -%}
	</div>	 
 
</footer>
