<aside>
	<div class="container">
		<img src="https://showchat.tk/assets/img/menulogo.png"  alt="ShowChat" align="left" width="232px" height="53px">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				<li><a href="{{ "/chat" | prepend: site.baseurl }}">Chat</a></li>
				<li><a href="{{ "/proiecte" | prepend: site.baseurl }}">Proiecte</a></li>
			</ul>
		</nav>
	</div>
</aside>

 <header>
	 <br></br>
<FONT FACE="Impact">
<MARQUEE BGCOLOR="#FFFF00">Asculta RadioClick Romania</MARQUEE>
</FONT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br></br>
<audio align="right" id="stream" controls="" preload="none" autoplay="none" style="width: 300px;">
<source src="http://live.radioclick.ro:8008/;" type="audio/mpeg">
</audio>
<script type="text/javascript">
var audio = document.getElementById('stream');
audio.volume = 0.5;
</script>

</header>
