<aside>
	<div class="container">
		<img src="https://showchat.tk/assets/img/menulogo.png"  alt="ShowChat" align="left" width="232px" height="53px">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				<li><a href="{{ "/chat" | prepend: site.baseurl }}">Chat</a></li>
				<li><a href="{{ "/proiecte" | prepend: site.baseurl }}">Proiecte</a></li>
			<audio align="center" id="stream" controls="" preload="none" autoplay="none" style="width: 300px;">
<source src="http://live.radioclick.ro:8008/;" type="audio/mpeg">
				</audio>
	</ul>			
		</nav>
	</div>
</aside>

 <header>
	<div id="get_quote" class="green" style="border-top:1px solid #FFF;border-bottom:2px solid #FFF;">
<div class="container">
<div class="row">
<div class="col-md-9">
<h3>Entra en nuestras salas para disfrutar del Chat IRC.</h3>
</div>
<div class="col-md-3">
<a href="https://showchat.tk/chat" data-toggle="modal" class="btn_quote" title="Entra en nuestras salas para chatear gratis.">Ingresar al Chat</a>
</div>
</div>
</div>
</div> 
</header>
