<aside>
	<div class="container">
		<img src="https://showchat.tk/assets/img/menulogo.png"  alt="ShowChat" align="left" width="232px" height="53px">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				<li><a href="{{ "/chat" | prepend: site.baseurl }}">Chat</a></li>
				<li><a href="{{ "/proiecte" | prepend: site.baseurl }}">Proiecte</a></li>
			<audio align="center" id="stream" controls="" preload="none" autoplay="none" style="width: 300px;">
<source src="http://live.radioclick.ro:8008/;" type="audio/mpeg">
				</audio>
	</ul>			
		</nav>
	</div>
</aside>

 <header>
	<h2>Hoverable Buttons</h2>

<a href="https://showchat.tk/chat" data-toggle="modal" class="button button3"> title="Entra en nuestras salas para chatear gratis.">Ingresar al Chat</a>

</header>
