<div class="gp-entry-text" itemprop="text">
<div class="vc_row wpb_row vc_row-fluid join-chat">
<div class="wpb_column vc_column_container vc_col-sm-3">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<p class="full-screen">
<span class="text-left"></span>
<button id="ShowChat" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; background-color:#0099FF">Extinde Chat-ul</button> sau <button id="Show-Chat"  style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; background-color:#0099FF">Mareste Chat-ul</button></p>
<div class="full-showchat">
<iframe id="api-showchat" class="fullscreen-showchat" title="Nu este flash player instalat" src="https://kiwiirc.com/nextclient/?theme=osprey#irc://irc.romaniachat.eu/#Romania,#RadioClick?&#038;nick=ShowChat??" width="300" height="150">Reveniti mai tarziu showchat.tk</iframe>
<button class="exitFull">Micsoreaza Chat</button></div>
</div>
</div>
</div>
</div>
</div>
